.displayTask-wrapper {
	box-sizing: border-box;
	width: 770px;
	height: 730px;
	padding-top: 30px;
	border-radius: 20px;
	background-color: #0075a0;
	margin-left: 100px;
	overflow: hidden;

	.header {
		font-family: "Josefin Sans", sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			margin: 0px;
		}

		h2 {
			margin: 0px;
			margin-top: 6px;
		}

		input {
			font-family: "Josefin Sans", sans-serif;
			font-size: 18px;
			margin-top: 10px;
			width: 404px;
			height: 44px;
			border-radius: 10px;
			border-style: none;
			padding-left: 10px;
			outline: none;

			&:focus {
				font-family: "Josefin Sans", sans-serif;
				font-size: 18px;

				&::placeholder {
					color: transparent;
				}
			}

			&::placeholder {
				font-family: "Josefin Sans", sans-serif;
				font-size: 18px;
				transition: color 0.3s ease;
			}
		}
	}

	.tasks-list {
		// overflow: scroll;
		display: flex;
		flex-direction: column;
		margin-top: 29px;
		background-color: #005d8f;
		width: 100%;
		min-height: 100%;
		align-items: center;

		.task {
			margin-top: 40px;
			font-family: "Josefin Sans", sans-serif;
			width: 639px;
			height: 62px;
			display: flex;
			background-color: white;
			color: #373434;
			align-items: center;
			border-radius: 20px;

			input {
				margin-left: 20px;
				transform: scale(2);
			}

			.task-title {
				margin-left: 20px;
			}

			.completed {
				text-decoration: line-through;
			}

			.delete {
				margin-left: 200px;
				font-family: "Josefin Sans", sans-serif;
				background-color: #004965;
				color: white;
				border: none;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				text-align: center;
			}
		}
	}
}
