.CreateTask-wrapper {
	background-color: #0075a0;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	width: 431px;

	h1 {
		margin-top: 68px;
		text-align: left;
		font-family: "Josefin Sans", sans-serif;
		font-size: 33px;
		margin-left: 22px;
	}

	input {
		margin-left: 22px;
		color: white;
		box-sizing: border-box;
		width: 384px;
		height: 44px;
		background-color: #004965;
		border: none;
		border-radius: 10px;
		font-size: 18px;
		padding: 13px 0 13px 13px;
		margin-bottom: 14px;

		&::placeholder {
			font-family: "Josefin Sans", sans-serif;
			color: #0075a0;
		}

		&:focus {
			outline: none;
			font-family: "Josefin Sans", sans-serif;
		}
	}

	button {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-family: "Josefin Sans", sans-serif;
		width: 114px;
		height: 44px;
		border-style: none;
		color: white;
		background-color: #004965;
		border-radius: 10px;
		margin-left: 22px;
	}

	img {
		margin-top: 91px;
	}
}
